*~
/bin/hexify
/lib/asmjs.o
build/
src/
asmjs-virtual-asmjs/
cache/
js/
/wasm-virtual-wasm
/wasm64-virtual-wasm64/
common/
debug/
foreign/
intermediate/
common3/
debug0/
*.cpp-lds.lds
/lib/wasm32-headers.o
/lib/wasm-headers.o
wasm32-virtual-wasm32/
/bin/wasmrewrite
/wasmrewrite/wasmsect
/full-examples/
/common3x/
/wasm32-unknown-none/
/bin/wasm32-unknown-none-*
/bin/wat2wasm
/bin/wat-desugar
/bin/wast2json
/bin/wasm2wat
/bin/wasm2js
/bin/wasm2c
/bin/wasm-validate
/bin/wasm-strip
/bin/wasm-shell
/bin/wasm-reduce
/bin/wasm-opt
/bin/wasm-opcodecnt
/bin/wasm-objdump
/bin/wasm-metadce
/bin/wasm-interp
/bin/wasm-emscripten-finalize
/bin/wasm-dis
/bin/wasm-decompile
/bin/wasm-ctor-eval
/bin/wasm-as
/bin/spectest-interp
/bin/asm2wasm
