[submodule "subrepos/binutils-gdb"]
	path = subrepos/binutils-gdb
	url = https://github.com/pipcet/binutils-gdb
	branch = asmjs
[submodule "subrepos/glibc"]
	path = subrepos/glibc
	url = https://github.com/pipcet/glibc
	branch = asmjs
[submodule "subrepos/gcc"]
	path = subrepos/gcc
	url = https://github.com/pipcet/gcc
	branch = asmjs
[submodule "subrepos/emacs"]
	path = subrepos/emacs
	url = https://github.com/pipcet/emacs
        branch = asmjs
[submodule "subrepos/ncurses"]
	path = subrepos/ncurses
	url = https://github.com/pipcet/ncurses
        branch = asmjs
[submodule "subrepos/mozilla"]
	path = subrepos/mozilla
	url = https://github.com/pipcet/mozilla
        branch = asmjs
[submodule "subrepos/bash"]
	path = subrepos/bash
	url = https://github.com/pipcet/bash
        branch = asmjs
[submodule "subrepos/perl"]
	path = subrepos/perl
	url = https://github.com/pipcet/perl
        branch = asmjs
[submodule "subrepos/coreutils"]
	path = subrepos/coreutils
	url = https://github.com/pipcet/coreutils.git
        branch = asmjs
[submodule "subrepos/graphviz"]
	path = subrepos/graphviz
	url = https://github.com/pipcet/graphviz
        branch = asmjs
[submodule "subrepos/binaryen"]
	path = subrepos/binaryen
	url = https://github.com/pipcet/binaryen
