[submodule "subrepos/binutils-gdb"]
	path = subrepos/binutils-gdb
	url = https://github.com/pipcet/binutils-gdb
	branch = asmjs
[submodule "subrepos/gcc"]
	path = subrepos/gcc
	url = https://github.com/pipcet/gcc
	branch = asmjs
