*~
/bin/hexify
/lib/asmjs.o
build/
src/
asmjs-virtual-asmjs/
cache/
js/
/wasm-virtual-wasm
/wasm64-virtual-wasm64/
common/
debug/
foreign/
intermediate/
common3/
debug0/
*.cpp-lds.lds
/lib/wasm32-headers.o
/lib/wasm-headers.o
wasm32-virtual-wasm32/
/bin/wasmrewrite
/wasmrewrite/wasmsect
/full-examples/
/common3x/
